<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aries</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Aries.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
</head>

<body>
    <title>@ViewContext.GetCurrentPageTitle() - Aries</title>
    <partial name="Sections/Header/_Header" />
    <partial name="Sections/Breadcrumb/_Breadcrumb" model="@Url.BuildBreadcrumb(ViewContext)" />
    <partial name="Sections/Sidebar/_Sidebar" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="Sections/Footer/_Footer" />
    <partial name="Sections/Toast/_Toast" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

    @if (TempData["ToastMessage"] != null)
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                showToast('@TempData["ToastTitle"]', '@TempData["ToastMessage"]');
            });
        </script>
    }

</body>

</html>
